h1 {
    color: #ffaf87;
    background-color: #255d83;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #ffaf87;
    background-color: #255d83;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
}

body {
    background-image: url("assests/images/Underwater Fish.jpg");
    min-height: 150px;
    min-width: 150px;
    max-width: 250px;
    max-height: 250px;
    

}

p{
    color: #ffaf87;
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 100%;
    width: 100%;
    position: static;
    background-color: #ffaf87;}

footer{
    min-height: 50px;
    min-width: 50px;
    max-width: 150px;
    max-height: 150px;
    color: #255d83;
    position: relative;
}
table, th, td {
    border: 1px solid black;
    padding: 5px 5px;
  }