h1 {
    color: #255d83;
    background-color: #ffaf87;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: #255d83;
    background-color: #ffaf87;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffaf87;
}

p{
    color: #735983;
    font-family: 'Times New Roman', Times, serif;
}

header{
    height: 50px;
    width: 50px;
}

footer{
    height: 50px;
    width: 50px;
    color: #255d83;
}